body {
  font-family: Arial, sans-serif;
  background-color: #eef8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
main {
  width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  text-align: center;
}
img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
label {
  display: block;
  text-align: left;
  margin-top: 10px;
}
input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
#loggaUtKnapp {
  display: none;
}
