body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
body {
  background-image: url(img/andrei-castanha-FlPIa6rvALU-unsplash.jpg);
}
label {
  display: block;
  margin-bottom: 0.8rem;
  color: #953636;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
#loggaUtKnapp {
  display: none;
}
